# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\92_Workspace\04_Docker_Richard\fleetman-webapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
